<div>
  <h1>
    About Us
  </h1>
  <h3>Your success is our success. That's why we're dedicated to not only delivering on your expectations, but exceeding them.</h3>
</div>

<div>
  <h1>What Sets Us Apart</h1>
  <p>When you come on board with Shoemaker, Inc., you can count on us to provide you with prompt, efficient service to help
    you complete jobs quickly and spread the word about your business.</p>
  <h2>Jobsite Delivery and Free Delivery to Shop</h2>
  <p>"Expectations. Delivered." At Shoemaker, Inc. we understand the importance of quality and timeliness when it comes to the
    successful completion of a job. That's why we're working every day to get you the products you need, when you need them.
    Ask us about how our service can get you product right to the jobsite.
  </p>
  <h2>Special Orders</h2>
  <p>If you can't find what you need at a local warehouse, ask a member of our sales team about special ordering the product
    you need. With thousands of products available, we're sure to find the right product to finish the job.
  </p>
  <h2>Wholesale Warehouse Inventory</h2>
  <p>With over 150 vendors and thousands of products in stock, we're ready to supply the HVAC product you need to get the job
    done. Stop by one of our seven branches today!</p>
  <h2>Online Store</h2>
  <p>Running from site to site keeps you busy. That’s why we’ve made ordering products simple. Head over to our webstore to
    get access to account-specific pricing, check on product availability, get invoices and statements, and create custom
    bundles for easy 1-click ordering.
  </p>
  <h2>Success Fund Rebate Program</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dictum, mauris non gravida consequat, quam tortor molestie
    nisl, sit amet mollis turpis risus id nisl. Sed blandit est a leo accumsan, in fringilla ex euismod. Nam at nunc diam.
    Morbi vel posuere ipsum.</p>
  <h2>Training for Contractors</h2>
  <p>Our dedication to providing you with quality products extends to keeping you informed regarding products, installation,
    and more. We provide regular contractor training sessions to ensure your team has all the tools and knowledge necessary
    for each jobsite.</p>
  <h2>Dealer Trip</h2>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dictum, mauris non gravida consequat, quam tortor molestie
    nisl, sit amet mollis turpis risus id nisl. Sed blandit est a leo accumsan, in fringilla ex euismod.</p>
  <h2>Utility Rebates Guide</h2>
  <p>Keep your customers up to date on the latest utility rebates with our Utility Rebates Guide. We’ve compiled heating and
    cooling rebates from most common utility companies in one condensed guide to save you time and your customers’ money.</p>
  <h2>Monthly Promotions & Updates</h2>
  <p>Every month we highlight and promote specific products based on the season and what our contractors need most. We keep
    you up to date on these promotions and special pricing with a physical and e-newsletter that you won’t want to miss!</p>
  <h2>Manufacturer Marketing Programs</h2>
  <p>We participate with a number of manufacturer programs that help you market your business and provide more to your customers.</p>
  <ul>
    <li>Consumer Financing</li>
    <li>In-House Warranty Claim</li>
    <li>Honeywell Personal Use Program</li>
    <li>Honeywell ContractorPRO</li>
    <li>Lochinvar VIP Program</li>
    <li>Extended Labor Program</li>
    <li>Customized ICP Product Package Brochure</li>
    <li>Customized Napoleon Product Package Brochure</li>
    <li>ICP Marketing Services</li>
  </ul>
</div>