<div>
  <h1>Product Categories</h1>
  <p>If you can’t find what you need at a local warehouse, ask a member of our sales team about special ordering the product
    you need. With thousands of products available, we’re sure to find the right product to finish the job.</p>
</div>
<div>
  Product Category Buttons
</div>
<a routerLink="/pricechanges">Price Changes</a>
<div>
    <p>Copyright © 2017 Shoemaker Inc. All rights reserved. 
    Terms and Conditions of Sale    |    Terms of Use    |    Privacy Policy    |    View Mobile Site 
    Prices and specifications are subject to correction or change without notice. 
    Shoemaker, Inc. reserves the right to accept or reject any order. 
    Images are representative of product lines but may not be actual item.</p>
</div>
<footer></footer>